/*header*/

header{
  width: 100%;
  background-color: #dcdcdd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .headerTopo{
  width: 100%;
  height: 80px;
}

header .headerMenu{
  width: 100%;
  height: 40px;
}

header .headerMenu ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header .headerMenu li{
  font-size: 25px;
}

/*footer*/

footer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

footer  .menuFooter {
  width: 20%;
}

footer .menuFooter ul{
  list-style: none;
}

footer .menu li{
  font-size: 18px;
  height: 25px;
}

footer .credenciais {
  width: 80%;
  text-align: center;
}

footer .credenciais h1 {
  color: #fff;
  font-size: 20px;
}